---
---

/* sitewide formatting */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

/* _includes/footer.html formatting */

.footer {
    background-color: #ffd452;
    color: #fff; 
    padding: 15px;
    margin-top: 50px;
}

.social-links {
    list-style: none;
    margin: 8px 0;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links a {
    display: inline-block;
}

.contact-links {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
}

.contact-links li {
    display: inline;
}

.contact-links a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    background-color: #d9411e;
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    color: #fff;
}

.signature {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
    text-align: right;
    margin: 0;
    padding: 0;
}

/* _includes/nav.html formatting */

.nav {
    background-color: #ffd452;
    color: #fff; 
    padding-bottom: 6px;
    margin-top: 0;
    text-transform: uppercase;
}

.name {
    padding-top: 10px;
    margin-top: 0;
    text-align: right;
    font-size: 12px;
}

.nav-bar {
    text-align: right;
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-left: 30px;
}

.nav-bar a:hover {
    color: #d9411e;
    border-bottom: 1px solid #d9411e;
}

/* index.html formatting */

.landing {
    height: 100vh;
    background: linear-gradient(
      rgba(51, 51, 51, 0.7), 
      rgba(51, 51, 51, 0.7)
    ), 
		url(images/laptop%20background.jpg) center center no-repeat;
    background-size: cover;
}

.main {
    position: relative;
    top: 200px;
    text-align: center;
    text-transform: uppercase;
}

.main h1 {
    font-weight: bold;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #d9411e;
}

.main p {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
}

.main-btn {
    padding: 10px 25px;
    font-weight: 550;
    font-size: 18px;
    letter-spacing: 6.5px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
}

.secondary {
    padding-top: 80px;
    padding-bottom: 100px;
    margin-bottom: 150px;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

.secondary h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.secondary p {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.secondary-btn {
    background-color: #fff;
    color: #000;
    font-weight: 550;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 8px 15px;
    border: 1px solid #000;
    text-decoration: none;
    text-transform: uppercase;
}

/* about/index.html formatting */

.wrapper-about {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.content-about {}

.content-about h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: bold;
}

.content-about h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 60px 0 30px;
}

.content-about p {
    font-size: 16px;
    margin-bottom: 10px;
}

.content-about em {
    font-size: 24px;
    font-weight: bold;
}